@page
@model WebBD_GIBDD.Pages.Autos.EditModel

@{
    ViewData["Title"] = "Изменить";
}
@using HtmlHelpersApp.App_Code
<h1>Изменить</h1>

<h4>Автомобиль</h4>
<hr />
@Html.CreateList()
<div class="row">
    <div class="col-md-4">
        <form method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Auto.ID" />
            <div class="form-group">
                <label asp-for="Auto.RegNum" class="control-label"></label>
                <input asp-for="Auto.RegNum" class="form-control" />
                <span asp-validation-for="Auto.RegNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Auto.Driver" class="control-label"></label><br />
                <input asp-for="Auto.DriverID" hidden class="form-control DriverInp" />
                <div class="btn-group dropright">
                    <button class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Выбрать
                    </button>
                    <div class="dropdown-menu">
                        <input type="text" id="InputDriver" onkeyup="myFunction('#InputDriver', 'DriverList')" class="form-control" placeholder="Введите водителя...">
                        <ul id="DriverList">
                            @foreach (var item in Model.Driver)
                            {
                                <li class="dropdown-item" onclick="AutoInput('@item.ID','DriverInp','@Html.DisplayFor(modelitem => item.FullName)')">
                                    @item.FullName
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <p class="DriverInp">
                    выбран -
                    @{
                        try
                        {
                            @Model.Driver.First(d => d.ID == Model.Auto.DriverID).FullName
                        }
                        catch
                        {
                        <p>никто</p>
                    }
                    }
                    </p>
                    <span asp-validation-for="Auto.DriverID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Auto.BrandAuto" class="control-label"></label><br />
                    <input asp-for="Auto.BrandAutoID" hidden class="form-control BrandAutoInp" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />
                    <div class="btn-group dropright">
                        <button class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Выбрать
                        </button>
                        <div class="dropdown-menu">
                            <input type="text" id="InputBrandAuto" onkeyup="myFunction('#InputBrandAuto', 'BrandAutoList')" class="form-control" placeholder="Введите марку...">
                            <ul id="BrandAutoList">
                                @foreach (var item in Model.BrandAuto)
                                {
                                    <li class="dropdown-item" onclick="AutoInput('@item.ID','BrandAutoInp','@Html.DisplayFor(modelitem => item.Name)')">@item.Name</li>
                                }
                            </ul>
                        </div>
                    </div>
                    <p class="BrandAutoInp">
                        выбран -
                        @{
                            try
                            {
                                @Model.BrandAuto.First(d => d.ID == Model.Auto.BrandAutoID).Name
                            }
                            catch
                            {
                            <p>ничего</p>
                        }
                        }
                        </p>
                        <span asp-validation-for="Auto.BrandAutoID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Auto.NumberCarBody" class="control-label"></label>
                        <input asp-for="Auto.NumberCarBody" class="form-control" />
                        <span asp-validation-for="Auto.NumberCarBody" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Auto.EngineNumber" class="control-label"></label>
                        <input asp-for="Auto.EngineNumber" class="form-control" />
                        <span asp-validation-for="Auto.EngineNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Auto.NumTechPass" class="control-label"></label>
                        <input asp-for="Auto.NumTechPass" class="form-control" />
                        <span asp-validation-for="Auto.NumTechPass" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Auto.DateOfIssue" class="control-label"></label>
                        <input asp-for="Auto.DateOfIssue" class="form-control" />
                        <span asp-validation-for="Auto.DateOfIssue" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Auto.DateOfRegistration" class="control-label"></label>
                        <input asp-for="Auto.DateOfRegistration" class="form-control" />
                        <span asp-validation-for="Auto.DateOfRegistration" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Auto.COLOR" class="control-label"></label>
                        <input asp-for="Auto.COLOR" type="color" value="#000000" class="form-control" />
                        <span asp-validation-for="Auto.COLOR" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Auto.TechInspection" class="control-label"></label>
                        <select asp-for="Auto.TechInspection" asp-items="Model.SelTH" class="form-control"></select>
                        <span asp-validation-for="Auto.TechInspection" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Auto.DateTechInspection" class="control-label"></label>
                        <input asp-for="Auto.DateTechInspection" class="form-control" />
                        <span asp-validation-for="Auto.DateTechInspection" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Auto.Description" class="control-label"></label>
                        <textarea asp-for="Auto.Description" class="form-control"></textarea>
                        <span asp-validation-for="Auto.Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Auto.Staff" class="control-label"></label>
                        <input asp-for="Auto.StaffID" hidden class="form-control StaffInp" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />
                        <br />
                        <div class="btn-group dropright">
                            <button class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Выбрать
                            </button>
                            <div class="dropdown-menu">
                                <input type="text" id="myInput" onkeyup="myFunction('#myInput', 'myUL')" class="form-control" placeholder="Введите сотрудника...">
                                <ul id="myUL">
                                    @foreach (var item in Model.Staff)
                                    {
                                        <li class="dropdown-item" onclick="AutoInput('@item.ID','StaffInp','@item.FullName')">
                                            @item.FullName
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <p class="StaffInp">
                            выбран -
                            @{
                                try
                                {
                                    @Model.Staff.First(d => d.ID == Model.Auto.StaffID).FullName
                                }
                                catch
                                {
                                <p>никто</p>
                            }
                            }
                            </p>
                            <span asp-validation-for="Auto.StaffID" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Сохранить" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-page="./Index">Вернуться к списку</a>
            </div>
            @section Scripts {
                @{
                    await Html.RenderPartialAsync("_ValidationScriptsPartial");
                    await Html.RenderPartialAsync("_MyScripts");
                }
            }
