@page
@model WebBD_GIBDD.Pages.Staffs.DetailsModel

@{
    ViewData["Title"] = "Подробная информация";
}

<h1>Подробная информация</h1>

<div>
    <h4>Сотрудник</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Address)
        </dt>
        <dd class="col-sm-10">
            @{
                string[] arr = Model.Staff.Address.Split(new char[] { '\n' }, StringSplitOptions.RemoveEmptyEntries);
                for (int i = 0; i < arr.Length; i++)
                {
                    @arr[i]<br>
                }
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Phone)
        </dt>
        <dd class="col-sm-10">
            @{
                string Phone = String.Format("{0:# (###) ###-##-##}", Model.Staff.Phone);
                @Phone
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.PassportData)
        </dt>
        <dd class="col-sm-10">
            @{
                arr = Model.Staff.PassportData.Split(new char[] { '\n' }, StringSplitOptions.RemoveEmptyEntries);
                for (int i = 0; i < arr.Length; i++)
                {
                    @arr[i]<br>
                }
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Position)
        </dt>
        <dd class="col-sm-10">
            @{
                if(Model.Position != null)
                {
                    @Html.DisplayFor(model => model.Position.NamePosition)
                }
                else
                {
                    <p>нет</p>
                }
            } 
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Rank)
        </dt>
        <dd class="col-sm-10">
            @{
                if (Model.Rank != null)
                {
                    @Html.DisplayFor(model => model.Rank.NameRank)
                }
                else
                {
                    <p>нет</p>
                }
            }
        </dd>

    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Staff.ID">Изменить</a> |
    <a asp-page="./Index">Вернуться обратно</a>
</div>
